# Hands-On Pertemuan 11: Advanced MongoDB Operations and Data Query

## Objectives:
- Dive into advanced query operations and aggregation pipelines in MongoDB.
- Enhance skills in filtering, grouping, and analyzing data with MongoDB.
- Master complex MongoDB operations for real-world data scenarios.

### 1. Advanced CRUD Operations
- **Exercise 1**: Use `bulk_write` to insert, update, and delete multiple documents simultaneously.
- **Task 1**: Insert a dataset of `courses` where each course has multiple student enrollments, then display the data.

In [ ]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 16.2 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 19.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [ ]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('mongodb+srv://taniaadnashafira:taniaadna@taniaadna.mivhi.mongodb.net/company_db?retryWrites=true&w=majority')
db = client['university_db']
courses_collection = db['courses']

# Bulk insert of courses with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}),

    UpdateOne({'course': 'Math 101'}, {'$set': {'enrollments': 35, 'department': 'Mathematics'}}),
    UpdateOne({'course': 'CS 102'}, {'$set': {'enrollments': 28, 'department': 'Computer Science'}}),
    UpdateOne({'course': 'History 201'}, {'$set': {'enrollments': 22, 'department': 'History'}}),
    UpdateOne({'course': 'Physics 202'}, {'$set': {'enrollments': 18, 'department': 'Physics'}}),

    DeleteOne({'course': 'Math 101'}),
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

### 2. Complex Filtering and Querying
- **Exercise 2**: Filter courses with enrollments over 20 students.
- **Task 2**: Retrieve and display courses only from the 'Computer Science' or 'Mathematics' departments.

In [ ]:
# Query for courses with enrollments greater than 20
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('672b07e886aff75460a4cde7'), 'course': 'CS 102', 'enrollments': 28, 'department': 'Computer Science'}
{'_id': ObjectId('672b07e886aff75460a4cde8'), 'course': 'History 201', 'enrollments': 22, 'department': 'History'}
{'_id': ObjectId('672b091e86aff75460a4cdeb'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('672b091e86aff75460a4cdec'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('672b0df286aff75460a4cdf0'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('672b0df286aff75460a4cdf1'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

In [ ]:
# Query courses in Computer Science or Mathematics departments
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('672b07e886aff75460a4cde7'), 'course': 'CS 102', 'enrollments': 28, 'department': 'Computer Science'}
{'_id': ObjectId('672b091e86aff75460a4cdeb'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('672b091e86aff75460a4cdec'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('672b0df286aff75460a4cdf0'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('672b0df286aff75460a4cdf1'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

### 3. Aggregation Framework for Data Analysis
- **Exercise 3**: Use aggregation to find the average enrollment per department.
- **Task 3**: Create an aggregation pipeline that finds the maximum enrollment for each department.

In [ ]:
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'average_enrollment': 26.0}
{'_id': 'Mathematics', 'average_enrollment': 30.0}
{'_id': 'Physics', 'average_enrollment': 16.0}
{'_id': 'History', 'average_enrollment': 20.666666666666668}

In [ ]:
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Physics', 'max_enrollment': 18}
{'_id': 'Mathematics', 'max_enrollment': 30}
{'_id': 'History', 'max_enrollment': 22}
{'_id': 'Computer Science', 'max_enrollment': 28}

### 4. Data Transformation using $project and $addFields
- **Exercise 4**: Use `$project` to rename and only show fields: `course_name`, `department_name`, and `enrollments`.
- **Task 4**: Use `$addFields` to create a new field `enrollment_category` where enrollments > 20 are 'high' and others 'low'.

In [ ]:
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672b07e886aff75460a4cde7'), 'enrollments': 28, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('672b07e886aff75460a4cde8'), 'enrollments': 22, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('672b07e886aff75460a4cde9'), 'enrollments': 18, 'course_name': 'Physics 202', 'department_name': 'Physics'}
{'_id': ObjectId('672b091e86aff75460a4cdeb'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('672b091e86aff75460a4cdec'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('672b091e86aff75460a4cded'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('672b091e86aff75460a4cdee'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}
{'_id': ObjectId('672b0df286aff75460a4cdf0'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('672b0df286aff75460a4cdf1'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('672b0df286aff75460a4cdf2'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('672b0df286aff75460a4cdf3'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}

In [ ]:
# Adding enrollment category field based on enrollments
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672b07e886aff75460a4cde7'), 'course': 'CS 102', 'enrollments': 28, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('672b07e886aff75460a4cde8'), 'course': 'History 201', 'enrollments': 22, 'department': 'History', 'enrollment_category': 'high'}
{'_id': ObjectId('672b07e886aff75460a4cde9'), 'course': 'Physics 202', 'enrollments': 18, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('672b091e86aff75460a4cdeb'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('672b091e86aff75460a4cdec'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('672b091e86aff75460a4cded'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('672b091e86aff75460a4cdee'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('672b0df286aff75460a4cdf0'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('672b0df286aff75460a4cdf1'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('672b0df286aff75460a4cdf2'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('672b0df286aff75460a4cdf3'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}

### Homework for Students

**Homework 1: Perform an aggregation to get a count of courses per department**

In [ ]:
pipeline = [
    {'$group': {'_id': '$department', 'enrollments': {'$sum': 1}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Physics', 'enrollments': 3}
{'_id': 'Mathematics', 'enrollments': 2}
{'_id': 'Computer Science', 'enrollments': 3}
{'_id': 'History', 'enrollments': 3}

**Homework 2: Use $match and $group together to filter and get only courses with enrollments over 25 in 'Computer Science'.**

In [ ]:
pipeline = [
    {'$match': {'department': 'Computer Science', 'enrollments': {'$gt': 25}}},
    {'$group': {'_id': '$course', 'enrollments': {'$sum': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'CS 102', 'enrollments': 28}

**Homework 3: Apply $lookup to join courses collection with students collection based on student enrollments.**

In [ ]:
students_collection = db['students']
student_data = [
  {'name': 'Tania', 'student_id': '123', 'enrolled_in': 'Math 101'},
  {'name': 'Adna', 'student_id': '456', 'enrolled_in': 'CS 102'},
  {'name': 'Shafira', 'student_id': '789', 'enrolled_in': 'History 201'},
  {'name': 'lala', 'student_id': '101', 'enrolled_in': 'Physics 202'},
]

students_collection.insert_many(student_data)
print('Students inserted successfully.')

Students inserted successfully.

In [ ]:
pipeline = [
    {'$lookup': {'from': 'students', 'localField': 'course', 'foreignField': 'enrolled_in', 'as': 'students'}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672b07e886aff75460a4cde7'), 'course': 'CS 102', 'enrollments': 28, 'department': 'Computer Science', 'students': [{'_id': ObjectId('672b110686aff75460a4cdf5'), 'name': 'Adna', 'student_id': '456', 'enrolled_in': 'CS 102'}]}
{'_id': ObjectId('672b07e886aff75460a4cde8'), 'course': 'History 201', 'enrollments': 22, 'department': 'History', 'students': [{'_id': ObjectId('672b110686aff75460a4cdf6'), 'name': 'Shafira', 'student_id': '789', 'enrolled_in': 'History 201'}]}
{'_id': ObjectId('672b07e886aff75460a4cde9'), 'course': 'Physics 202', 'enrollments': 18, 'department': 'Physics', 'students': [{'_id': ObjectId('672b110686aff75460a4cdf7'), 'name': 'lala', 'student_id': '101', 'enrolled_in': 'Physics 202'}]}
{'_id': ObjectId('672b091e86aff75460a4cdeb'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'students': [{'_id': ObjectId('672b110686aff75460a4cdf4'), 'name': 'Tania', 'student_id': '123', 'enrolled_in': 'Math 101'}]}
{'_id': ObjectId('672b091e86aff75460a4cdec'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'students': [{'_id': ObjectId('672b110686aff75460a4cdf5'), 'name': 'Adna', 'student_id': '456', 'enrolled_in': 'CS 102'}]}
{'_id': ObjectId('672b091e86aff75460a4cded'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'students': [{'_id': ObjectId('672b110686aff75460a4cdf6'), 'name': 'Shafira', 'student_id': '789', 'enrolled_in': 'History 201'}]}
{'_id': ObjectId('672b091e86aff75460a4cdee'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'students': [{'_id': ObjectId('672b110686aff75460a4cdf7'), 'name': 'lala', 'student_id': '101', 'enrolled_in': 'Physics 202'}]}
{'_id': ObjectId('672b0df286aff75460a4cdf0'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'students': [{'_id': ObjectId('672b110686aff75460a4cdf4'), 'name': 'Tania', 'student_id': '123', 'enrolled_in': 'Math 101'}]}
{'_id': ObjectId('672b0df286aff75460a4cdf1'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'students': [{'_id': ObjectId('672b110686aff75460a4cdf5'), 'name': 'Adna', 'student_id': '456', 'enrolled_in': 'CS 102'}]}
{'_id': ObjectId('672b0df286aff75460a4cdf2'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'students': [{'_id': ObjectId('672b110686aff75460a4cdf6'), 'name': 'Shafira', 'student_id': '789', 'enrolled_in': 'History 201'}]}
{'_id': ObjectId('672b0df286aff75460a4cdf3'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'students': [{'_id': ObjectId('672b110686aff75460a4cdf7'), 'name': 'lala', 'student_id': '101', 'enrolled_in': 'Physics 202'}]}